html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  color: #333;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  max-width: 25em;
  padding: 0;
  margin: 0;
  display: inline-block;
}

section img {
  display: block;
  width: 100%;
}

section h2 {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
}

section p {
  display: block;
  text-align: left;
  margin: 1.5rem;
}

.btn a {
  display: inline-block;
  padding: .5em .75rem;
  background-color: #eee9de;
  border-color: #333;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.btn a:hover {
  background-color: #666;
  color: #eee9de;
}
